.grid {
    display:grid;
    height: fit-content;
    width: fit-content;
    grid-template: repeat(10, 50px) / repeat(10,50px);
    gap: 1px;
    padding: 1px;
    background-color: black;
}

.grid > div[data-cell="cell"] {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: white;
}

.grid > div[data-cell="cell"] {
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: white;
}

.grid > div[data-cell="cell"]:hover {
    background-color: var(--ship-cell-color-hover);
}

.grid > div.ship-cell {
    background-color: var(--ship-cell-color);
}

.grid > div[data-cell="cell"]::after,
.grid > div[data-cell="cell"]::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
    border-radius: 2px;
    height: 4px;

    opacity: 0;
    scale: 0.1;
    transition: all 0.4s ease-in-out;
}

.grid > div[data-cell="cell"]::after {
    transform: rotate(45deg);
}

.grid > div[data-cell="cell"]::before {
    transform: rotate(-45deg);
}

.grid > div[data-cell="cell"].miss::after,
.grid > div[data-cell="cell"].miss::before {
    opacity: 1;
    scale: 1;
}

